*.swp
*.swo
.DS_Store
node_modules
dist
*.log
coverage
.idea
*.iml
atlassian-ide-plugin.xml
public/assets/stylesheets/fonts
public/lib
assets/lib
assets/json/channels.json
assets/json/nodetypes.json
assets/json/operations.json
public/angular/compiled
database
meshblu.json
.nyc_output
*.sublime-workspace
.*-dev
*-dev
