sudo: false
language: node_js
node_js:
- '0.10'
services:
- mongodb
cache:
  bundler: true
  directories:
  - node_modules
notifications:
  slack:
    secure: j8t7GC1MCh75KcJiUh+Wq8AVGrESS9mZG9EnHSHWSIHr1eGHbNYn9GWR2+/vv6M1Te+TRTCbVU38Z4/VfZf4zYOi7HoY8z9XT97h90+ArEc68qQnDpZyfSsI4n7mYLPWMZtLz41ryZGYZ2ISTLHR2gbJX8kxyTXCWrIAxtG8uT8=
before_script:
- if [ ${TRAVIS_BRANCH} == master ]; then export NODE_ENV=production; else export
  NODE_ENV=staging; fi
- npm rebuild bcrypt
- node_modules/.bin/gulp
- export NODE_ENV=test
deploy:
  provider: s3
  access_key_id: AKIAJFJGT4PA3PB7DIYQ
  secret_access_key:
    secure: E8Wd7RlqQfKC8hH6LDAisouMuj+ee7uvwxWWBeh/OZer2HxvO/qAat8fO4Nj7vtUFbIwHBAaX2HqWDiGvyV0GF5wQUTVr3rtDHdvUAplcThFSypUAptfQKznXAMOQLyBC1gKc+/QvmRIobyvneqi+9vTyWU15P0g1daXnUBsI4Y=
  bucket: octoblu-channels
  local-dir: assets/json
  skip_cleanup: true
  acl: private
  on:
    repo: octoblu/api-octoblu
