[Unit]
Description=octoblu-api-octoblu-green
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=300
Restart=always
ExecStartPre=/bin/sh -c '/usr/bin/docker login \
  --username $(/usr/bin/etcdctl get /docker/quay.io/username) \
  --password $(/usr/bin/etcdctl get /docker/quay.io/password) \
  --email $(/usr/bin/etcdctl get /docker/quay.io/email) \
  quay.io'
ExecStartPre=/usr/bin/etcdctl get /meshblu/host || /usr/bin/echo "etcd did not contain /meshblu/host" && exit 1
ExecStartPre=/usr/bin/etcdctl get /meshblu/port || /usr/bin/echo "etcd did not contain /meshblu/port" && exit 1
ExecStartPre=/usr/bin/etcdctl get /octoblu/api-octoblu/green/port || /usr/bin/echo "etcd did not contain /octoblu/api-octoblu/green/port" && exit 1
ExecStartPre=/usr/bin/etcdctl get /octoblu/api-octoblu/green/docker_url || /usr/bin/echo "etcd did not contain /octoblu/api-octoblu/green/docker_url" && exit 1
ExecStartPre=-/usr/bin/docker rm octoblu-api-octoblu-green-%i
ExecStart=/bin/sh -c "/usr/bin/docker run --rm \
  --name octoblu-api-octoblu-green-%i \
  -e DEBUG=api-octoblu* \
  -e MESHBLU_HOST=$(/usr/bin/etcdctl get /meshblu/host) \
  -e MESHBLU_PORT=$(/usr/bin/etcdctl get /meshblu/port) \
  -e MESHBLU_PROTOCOL=$(/usr/bin/etcdctl get /meshblu/protocol) \
  -e OCTOBLU_PORT=$(/usr/bin/etcdctl get /octoblu/api-octoblu/octoblu_port) \
  -e NODE_ENV=$(/usr/bin/etcdctl get /octoblu/api-octoblu/node_env) \
  -e TEXT_CRYPT_KEY=$(/usr/bin/etcdctl get /octoblu/api-octoblu/text_crypt_key) \
  -e TEXT_CRYPT_NONCE=$(/usr/bin/etcdctl get /octoblu/api-octoblu/text_crypt_nonce) \
  -e AIRBRAKE_KEY=$(/usr/bin/etcdctl get /octoblu/api-octoblu/airbrake_key) \
  -e INVITATION_REQUIRED=$(/usr/bin/etcdctl get /octoblu/api-octoblu/invitation_required) \
  -e ELASTIC_SEARCH_URI=$(/usr/bin/etcdctl get /octoblu/api-octoblu/elastic_search_uri) \
  -e USE_APP_DYNAMICS=$(/usr/bin/etcdctl get /octoblu/api-octoblu/use_app_dynamics) \
  -e APP_DYNAMICS_KEY=$(/usr/bin/etcdctl get /octoblu/api-octoblu/app_dynamics_key) \
  -e APP_DYNAMICS_TIER_NAME=$(/usr/bin/etcdctl get /octoblu/api-octoblu/app_dynamics_tier_name) \
  -e APP_DYNAMICS_HOST_NAME=$(/usr/bin/etcdctl get /octoblu/api-octoblu/app_dynamics_host_name) \
  -e APP_DYNAMICS_ACCOUNT_NAME=$(/usr/bin/etcdctl get /octoblu/api-octoblu/app_dynamics_account_name) \
  -e APP_DYNAMICS_APPLICATION_NAME=$(/usr/bin/etcdctl get /octoblu/api-octoblu/app_dynamics_application_name) \
  -e APP_DYNAMICS_PORT=$(/usr/bin/etcdctl get /octoblu/api-octoblu/app_dynamics_port) \
  -e OCTOBLU_UUID=$(/usr/bin/etcdctl get /octoblu/api-octoblu/octoblu_uuid) \
  -e OCTOBLU_TOKEN=$(/usr/bin/etcdctl get /octoblu/api-octoblu/octoblu_token) \
  -e REDIS_URL=$(/usr/bin/etcdctl get /octoblu/api-octoblu/redis_url) \
  -p $(/usr/bin/etcdctl get /octoblu/api-octoblu/green/port):80 \
  $(/usr/bin/etcdctl get /octoblu/api-octoblu/green/docker_url) \
"

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=octoblu-api-octoblu-green@*.service
MachineMetadata=Services=true
